.container {
  height: 100%;

  //菜单栏
  .container-aside {
    background: #001529;

    //解决使用了el-scrollbar组件，出现的横向滚动条
    .el-scrollbar__wrap {
      overflow-x: hidden;
    }

    .aside-logo-wrapper {
      height: 64px;
      padding-top: 5px;

      img {
        height: 60px;
        width: auto;
        display: block;
        margin: 0 auto;
        cursor: pointer;
      }

      img {
        transform: rotate(-15deg);
        transition: all 0.5s ease-in;
      }

      img:hover,
      img:focus {
        transform: rotate(0deg) scale(1.1);
      }
    }

    .aside-menu-wrapper {
      user-select: none; //设置或检索是否允许用户选中文本

      .el-menu {
        border: none;

        //展开或者激活的菜单title的样式
        .is-opened,
        .is-active {
          .el-submenu__title {
            color: #fff !important;
          }

          i {
            color: #fff !important;
          }
        }

        .el-submenu__title:hover {
          background: #001529 !important;
          color: #fff !important;
        }

        .el-submenu__title:hover i {
          color: #fff !important;
        }

        .el-menu--inline {
          li {
            background: #000c17 !important;
          }

          li:hover {
            color: #fff !important;
          }

          .is-active {
            background: #1890ff !important;
          }
        }
      }
    }
  }

  //头部
  .container-header {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 0px;
    line-height: 69px;

    .global-header {
      position: relative;
      padding: 0;
      height: 69px;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0, 21, 41, 0.08);

      .global-header-trigger {
        padding: 0px 20px;
        font-size: 24px;
        cursor: pointer;
        transition: all 0.3s, padding 0s;
      }
    }
  }
}
